<ui-select ng-model="vm.selected"
           theme="bootstrap"
           ng-disabled="false"
           reset-search-input="true">
  <ui-select-match placeholder="Выбрать...">{{$select.selected.title}}</ui-select-match>
  <ui-select-choices repeat="item in vm.items track by $index"
                     refresh="vm.refreshItems($select.search)"
                     refresh-delay="0">
    <div ng-bind-html="vm.trustAsHtml((item.title | highlight: $select.search))"></div>
  </ui-select-choices>
</ui-select>

