<div class='page-header'>
  <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for...">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="button">Go!</button>-->
      <!--</span>-->
  <!--</div>-->
  <h1>Адреса</h1>
</div>

<es-building-address on-address-selected="vm.onSelectAddress(address)"></es-building-address>

<div ng-if="vm.buildings.length > 0">
  <h2>Найдены объекты в радиусе 1 км</h2>
  <div class="row">
  </div>
  <ul>
    <li ng-repeat="building in vm.buildings">{{building.name}} ({{building.address}})</li>
  </ul>
</div>

<div ng-if="vm.buildings.length == 0">
  <h2>Ничего не найдено в радиусе 1 км</h2>
</div>
