<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">-->
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span> Estima
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a href="#/" class="glyphicon glyphicon-home"></a></li>
        <li><a ng-href="#/building/list">Объекты</a></li>
        <li><a ng-href="#/address/list">Адреса</a></li>
        <li><a ng-href="#/dictionaries/list">Справочники</a></li>
        <li><a ng-href="#/about">О системе</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--<li><p class="navbar-text">Already have an account?</p></li>-->
        <li ng-if="vm.isAuthenticated()"><p class="navbar-text" ng-bind="vm.user.name"></p></li>
<!--
        <li class="dropdown" uib-dropdown ng-if="!vm.isAuthenticated">
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle><b>Login</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" role="menu">
            <li>
              <div class="row">
                <div class="col-md-12">
                  &lt;!&ndash;Login via&ndash;&gt;
                  &lt;!&ndash;<div class="social-buttons">&ndash;&gt;
                    &lt;!&ndash;<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>&ndash;&gt;
                    &lt;!&ndash;<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>&ndash;&gt;
                  &lt;!&ndash;</div>&ndash;&gt;
                  &lt;!&ndash;or&ndash;&gt;
                  &lt;!&ndash;<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">&ndash;&gt;
                    <div class="form-group">
                      <label class="sr-only" for="email">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="Email address" required ng-model="vm.email" ng-click="$event.stopPropagation()">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" required ng-model="vm.password" ng-click="$event.stopPropagation()">
                      <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block" ng-click="vm.login()">Sign in</button>
                    </div>
                    &lt;!&ndash;<div class="checkbox">&ndash;&gt;
                      &lt;!&ndash;<label>&ndash;&gt;
                        &lt;!&ndash;<input type="checkbox"> keep me logged-in&ndash;&gt;
                      &lt;!&ndash;</label>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                  &lt;!&ndash;</form>&ndash;&gt;
                </div>
                &lt;!&ndash;<div class="bottom text-center">&ndash;&gt;
                  &lt;!&ndash;New here ? <a href="#"><b>Join Us</b></a>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
              </div>
            </li>
          </ul>
        </li>
-->
      </ul>
      <span class="nav navbar-nav navbar-right" style="padding-top: 10px;"><spinner name="authSpinner" img-src="assets/images/ajax-loader.gif"></spinner></span>
    </div>
  </div>
</nav>
