<h2>Позиции</h2>

<div ng-repeat="(dealerId, dealerMap) in vm.buildingDealersMap">
  <es-dealer-positions positions="dealerMap.positions" new-position="{building: vm.building, dealerId: dealerId}"
                      on-delete-position="vm.removeDealerPosition(dealerId, position)"
                      on-add-position="vm.addDealerPosition(dealerId, position)">

    <h4 ng-bind="dealerMap.name"></h4>
  </es-dealer-positions>
</div>

<div class="input-group">
  <ui-select ng-model="vm.dealer"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false">
    <ui-select-match placeholder="Выбрать дилера...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="dealer in vm.dealers track by $index"
                       refresh="vm.refreshDealers($select.search)"
                       refresh-delay="0">
      <div ng-bind-html="dealer.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>

  <div class="input-group-btn">
    <button class="btn btn-primary" ng-click="vm.addDealer(vm.dealer)" ng-disabled="!vm.dealer">Добавить</button>
  </div>
</div>

