<div class="container">
  <h1 ng-bind="vm.building.name">&nbsp;</h1>

  <div class="well">
    <form ng-submit="vm.building.save()">
      <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" ng-model="vm.building.name" id="name" placeholder="Название">
      </div>
      <div class="form-group">
        <label for="address">Адрес</label>
        <input type="text" class="form-control" ng-model="vm.building.address" id="address" placeholder="Адрес">
      </div>
      <div class="form-group">
        <label for="client">Заказчик</label>
        <input type="text" class="form-control" ng-model="vm.building.client" id="client" placeholder="Заказчик">
      </div>
      <div class="form-group">
        <label for="project">Проектная организация</label>
        <input type="text" class="form-control" ng-model="vm.building.project" id="project" placeholder="Проектная организация">
      </div>
      <div class="form-group">
        <label for="manager">Менеджер</label>
        <input type="text" class="form-control" ng-model="vm.building.manager" id="manager" placeholder="Менеджер">
      </div>

      <input type="submit" class="btn btn-success" value="Сохранить">
      <a ng-href="#/building/show/{{vm.building.id}}">Отмена</a>
    </form>

  </div>


  <h2>Позиции</h2>

  <div ng-repeat="(dealerId, dealerMap) in vm.buildingDealersMap">
    <es-building-dealer1 building-id="vm.building.id" dealer-id="dealerId" dealer-name="dealerMap.name" positions="dealerMap.positions"></es-building-dealer1>
  </div>

  <div class="input-group">
    <ui-select ng-model="vm.dealer"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false">
      <ui-select-match placeholder="Выбрать дилера...">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="dealer in vm.dealers track by $index"
                         refresh="vm.refreshDealers($select.search)"
                         refresh-delay="0">
        <div ng-bind-html="dealer.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>

    <div class="input-group-btn">
      <button class="btn btn-primary" ng-click="vm.addDealer(vm.dealer)" ng-disabled="!vm.dealer">Добавить</button>
    </div>
  </div>

  <hr>

  <div class="well">
    <button class="btn btn-lg btn-success" ng-click="vm.saveChanges()">Сохранить изменения</button>
    <a ng-href="#/building/show/{{vm.building.id}}" class="btn">Отмена</a>
  </div>

</div>
