<!--<div class="container">-->
<!--<ol class="breadcrumb">-->
  <!--<li><a href="#">Home</a></li>-->
  <!--<li><a href="#">Library</a></li>-->
  <!--<li class="active">Data</li>-->
<!--</ol>-->
  <div class='page-header'>
    <div class='btn-toolbar pull-right'>
      <button type="button" class="btn btn-default" uib-btn-checkbox ng-model="vm.filtersOpen">
        <i class="fa fa-cogs"></i>
      </button>
      <div class='btn-group'>
        <a ng-href="#/building/create" class="btn btn-primary">
          <i class="fa fa-plus-square"></i> Добавить объект
        </a>
      </div>
    </div>
    <h1>Список объектов</h1>
  </div>

<div uib-collapse="!vm.filtersOpen">
  <div class="well well-lg">
    <div class="row">
      <div class="col-sm-12 col-md-6 form-inline">
        <div class="form-group">
          <label for="itemsNumber">На странице</label>
          <select ng-model="vm.itemsPerPage" class="form-control" id="itemsNumber" convert-to-number ng-change="vm.pageChanged()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Название</th>
      <th class="col-md-4">Адрес</th>
      <th class="col-md-2">Дилеры</th>
      <th class="col-md-1"><abbr title="Дата создания 1й позиции">Создано</abbr></th>
      <th class="col-md-1"><abbr title="Дата обновления позиций">Обновлено</abbr></th>
      <th class="col-md-1">Менеджер</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="building in vm.buildings track by building.id">
      <th scope="row"><a href="#/building/show/{{::building.id}}" ng-bind="building.name"></a></th>
      <td><small ng-bind="building.address"></small></td>
      <td>{{vm.getBuildingDealers(building)}}</td>
      <td><small ng-bind="building.dateCreated | date: 'dd.MM.yyyy HH:mm'"></small></td>
      <td><small ng-bind="building.lastUpdated | date : 'dd.MM.yyyy HH:mm'"></small></td>
      <td ng-bind="building.author.name"></td>
    </tr>
  </tbody>
</table>

<ul uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>


  <!--</div>-->
