<!--<div class="container">-->

  <div class='page-header'>
    <div class='btn-toolbar pull-right'>
      <div class='btn-group'>
        <a ng-href="#/building/create" class="btn btn-primary">
          <i class="fa fa-plus-square"></i> Добавить объект
        </a>
      </div>
    </div>
    <h1>Список объектов</h1>
  </div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Название</th>
      <th class="col-md-3">Адрес</th>
      <th class="col-md-3">Заказчик</th>
      <th class="col-md-2">Проектная организация</th>
      <th class="col-md-1">Менеджер</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="building in vm.buildings track by $index">
      <th scope="row"><a href="#/building/show/{{building.id}}">{{building.name}}</a></th>
      <td>{{building.address}}</td>
      <td>{{building.client.title}}</td>
      <td>{{building.project.title}}</td>
      <td>{{building.author.name}}</td>
    </tr>
  </tbody>
</table>

<ul uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>


  <!--</div>-->
