<!--<div class="container">-->
<!--<ol class="breadcrumb">-->
  <!--<li><a href="#">Home</a></li>-->
  <!--<li><a href="#">Library</a></li>-->
  <!--<li class="active">Data</li>-->
<!--</ol>-->
  <div class='page-header'>
    <div class='btn-toolbar pull-right'>
      <button type="button" class="btn btn-default" uib-btn-checkbox ng-model="vm.filtersOpen">
        <i class="fa fa-cogs"></i>
      </button>
      <div class='btn-group'>
        <a ng-href="#/building/create" class="btn btn-primary">
          <i class="fa fa-plus-square"></i> Добавить объект
        </a>
      </div>
    </div>
    <h1 class="form-inline">
      Список объектов
      <small ng-bind="vm.totalItems"></small>
      <small class="pull-right"><es-search on-search-changed="vm.search(q)"></es-search></small>
    </h1>
  </div>

<div uib-collapse="!vm.filtersOpen">
  <div class="well well-lg">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <dl class="dl-horizontal">
          <dt>
            <label for="managerFilter">Менеджер</label>
          </dt>
          <dd>
            <select id="managerFilter" class="form-control" ng-model="vm.filter.authorId" ng-change="vm.pageChanged()"
                    ng-options="user.id as user.name for user in vm.users track by user.id">
              <option value="">-</option>
            </select>
          </dd>

          <dt><label for="statusFilter">Статус</label></dt>
          <dd>
            <select id="statusFilter" class="form-control" ng-model="vm.filter.status" ng-change="vm.pageChanged()" multiple>
              <option ng-repeat="status in vm.statuses track by status.code" value="{{::status.code}}">{{::status.label}}</option>
            </select>
          </dd>
        </dl>
      </div>

      <div class="col-sm-12 col-md-5">
        <dl class="dl-horizontal">
          <dt><label for="itemsNumber">На странице</label></dt>
          <dd>
            <select ng-model="vm.itemsPerPage" class="form-control" id="itemsNumber" convert-to-number
                    ng-change="vm.pageChanged()">
              <option ng-repeat="num in vm.itemsPerPageValues" value="{{::num}}">{{::num}}</option>
            </select>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Название</th>
      <th class="col-md-4">Адрес</th>
      <th class="col-md-2">Дилеры</th>
      <th class="col-md-1"><abbr title="Дата создания 1й позиции">Создано</abbr></th>
      <th class="col-md-1"><abbr title="Дата обновления позиций">Обновлено</abbr></th>
      <th class="col-md-1">Менеджер</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="building in vm.buildings track by building.id">
      <th scope="row"><a href="#/building/show/{{::building.id}}" style="font-weight: normal;" ng-bind-html="building.name | highlight: vm.q"></a></th>
      <td><small ng-bind-html="building.address | highlight: vm.q"></small></td>
      <td>{{vm.getBuildingDealers(building)}}</td>
      <td><small ng-bind="building.dateCreated | date: 'dd.MM.yyyy HH:mm'"></small></td>
      <td><small ng-bind="building.lastUpdated | date : 'dd.MM.yyyy HH:mm'"></small></td>
      <td ng-bind="building.author.name"></td>
    </tr>
  </tbody>
</table>

<ul uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>


  <!--</div>-->
