<tr ng-form name="myForm" ng-submit="vm.refresh()" class="table-bordered">
  <td class="col-md-1"><input class="col-md-12" type="text" ng-model="vm.newPosition.dateCreated"></td>
  <td class="col-md-2"><input class="col-md-12" type="text" ng-model="vm.newPosition.contactName"></td>
  <td class="col-md-1"><input class="col-md-12" type="text" ng-model="vm.newPosition.type"></td>
  <td class="col-md-2"><input class="col-md-12" type="text" ng-model="vm.newPosition.spec"></td>
  <td class="col-md-1"><input class="col-md-12" type="text" ng-model="vm.newPosition.grossPrice"></td>
  <td class="col-md-1"><input class="col-md-12" type="text" ng-model="vm.newPosition.total"></td>
  <td class="col-md-1"><input class="col-md-12" type="text" ng-model="vm.newPosition.status"></td>
  <td class="col-md-1"><input class="col-md-12" type="text" ng-model="vm.newPosition.dateShipped"></td>
  <td class="col-md-2"><input class="col-md-12 btn btn-success" type="submit" value="Добавить" ng-click="vm.refresh()"></td>
</tr>
