<div class="well">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" ng-model="buildingFormVm.building.name" id="name" placeholder="Название">
      </div>
      <div class="form-group">
        <label>Заказчик</label>
        <es-dictionary-autocomplete key="customers" selected="buildingFormVm.building.client"></es-dictionary-autocomplete>
      </div>
      <div class="form-group">
        <label>Проектная организация</label>
        <es-dictionary-autocomplete key="designers" selected="buildingFormVm.building.project"></es-dictionary-autocomplete>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <label for="address">Адрес</label>
        <ng-transclude></ng-transclude>
      </div>
    </div>
  </div>
</div>
