<div class="panel panel-default">
  <div class="panel-heading">
    <!--<div class='btn-toolbar pull-right'>-->
      <!--<div class='btn-group'>-->
        <!--<a ng-href="#/building/create" class="btn btn-danger">-->
          <!--Удалить дилера-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
    <h4 ng-bind="dealerVm.dealerName"></h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-condensed table-vcenter">
      <thead>
      <tr>
        <th class="col-md-1 text-center">Дата</th>
        <th class="col-md-2 text-center">Контакт</th>
        <th class="col-md-1 text-center">Тип</th>
        <th class="col-md-2 text-center">Спецификация</th>
        <th class="col-md-1 text-center">Цена</th>
        <th class="col-md-1 text-center">Сделка</th>
        <th class="col-md-1 text-center">Статус</th>
        <th class="col-md-1 text-center">Отгрузка</th>
        <th class="col-md-2 text-center"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-form class="table-bordered">
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.dateCreated"></td>
        <td class="col-md-2"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.contactName"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.type"></td>
        <td class="col-md-2"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.spec"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.grossPrice"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.total"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.status"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="dealerVm.newPosition.dateShipped"></td>
        <td class="col-md-2">
          <input class="col-md-12 btn btn-success" type="submit" value="Добавить" ng-click="dealerVm.addNewPosition()">
        </td>
      </tr>
      <tr ng-repeat-start="position in dealerVm.positions | filter:dealerVm.activePosition" ng-repeat-end>
        <td class="col-md-1 text-center" ng-bind="position.dateCreated">&nbsp;</td>
        <td class="col-md-2 text-center" ng-bind="position.contactName">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.type">&nbsp;</td>
        <td class="col-md-2 text-center" ng-bind="position.spec">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.grossPrice">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.total">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.status">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.dateShipped">&nbsp;</td>
        <td class="col-md-2 text-center">
          <button class="btn btn-default">
            <span class="fa fa-comments"></span>
          </button>

          <a class="btn text-warning">
            <i class="fa fa-pencil"></i>
          </a>

          <a class="btn text-danger" ng-click="dealerVm.removePosition(position)">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


