.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

table.table-vcenter tbody tr td {
  vertical-align: middle;
}

.glyphicon-chat:before {
  content: "\e246";
}

.no-margin {
  margin: 0;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}


/*body {*/
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  /*background-color: #eee;*/
/*}*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.page-header {
  margin: 20px 0px;
  padding-bottom: 0px;
  /*border: none;*/
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }

  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }

  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.container {
  width: 250px;
  margin: 50px auto;
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}

.box-shadow {
  -webkit-box-shadow: 0 12px 30px darkgrey;
  box-shadow: 0 12px 30px darkgrey;
}

.shake {
  -webkit-animation: shake 400ms ease-in-out;
  animation: shake 400ms ease-in-out;
}

.message {
  margin-top: 60px;
}
