<div class="panel panel-default">
  <div class="panel-heading">
    <ng-transclude></ng-transclude>
    <!--<div class="row">-->
      <!--<div class="col-sm-2">-->
        <!--<label for="contactInfo">Контакт</label>-->
        <!--<input class="form-control col-sm-12" type="text" ng-model="positionsVm.inputPosition.contactName">-->
      <!--</div>-->
      <!--<div class="col-sm-1">-->
        <!--<label for="">Тип</label>-->
        <!--<input class="form-control col-sm-12" type="text" ng-model="positionsVm.inputPosition.type">-->
      <!--</div>-->
      <!--<div class="col-sm-2">-->
        <!--<label for="">Спецификация</label>-->
        <!--<input class="form-control col-sm-12" type="text" ng-model="positionsVm.inputPosition.spec">-->
      <!--</div>-->
      <!--<div class="col-sm-1">-->
        <!--<label for="">Цена</label>-->
        <!--<input class="form-control col-sm-12" type="text" ng-model="positionsVm.inputPosition.grossPrice">-->
      <!--</div>-->
      <!--<div class="col-sm-1">-->
        <!--<label for="">Сделка</label>-->
        <!--<input class="form-control col-sm-12" type="text" ng-model="positionsVm.inputPosition.total">-->
      <!--</div>-->
      <!--<div class="col-sm-1">-->
        <!--<label for="">Статус</label>-->
        <!--<input class="form-control col-sm-12" type="text" ng-model="positionsVm.inputPosition.status">-->
      <!--</div>-->
      <!--<div class="col-sm-1">-->
        <!--<label for="">Отгрузка</label>-->
        <!--<input class="form-control col-sm-12" type="text" ng-model="positionsVm.inputPosition.dateShipped">-->
      <!--</div>-->
      <!--<div class="col-sm-3">-->
        <!--<label>&nbsp;</label>-->
        <!--<input class="btn btn-success form-control" type="submit" value="Добавить" ng-click="positionsVm.addNewPosition()">-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="panel-body">
    <table class="table table-striped table-condensed table-vcenter">
      <thead>
      <tr>
        <!--<th class="col-md-1 text-center">Дата</th>-->
        <th class="col-md-2 text-center">Контакт</th>
        <th class="col-md-1 text-center">Тип</th>
        <th class="col-md-2 text-center">Спецификация</th>
        <th class="col-md-1 text-center">Цена</th>
        <th class="col-md-1 text-center">Сделка</th>
        <th class="col-md-1 text-center">Статус</th>
        <th class="col-md-1 text-center">Отгрузка</th>
        <th class="col-md-2 text-center"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-form class="table-bordered">
        <!--<td class="col-md-1"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.dateCreated"></td>-->
        <td class="col-md-2"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.contactName"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.type"></td>
        <td class="col-md-2"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.spec"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.grossPrice"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.total"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.status"></td>
        <td class="col-md-1"><input class="col-md-12" type="text" ng-model="positionsVm.inputPosition.dateShipped"></td>
        <td class="col-md-2">
          <input class="col-md-12 btn btn-success" type="submit" value="Добавить" ng-click="positionsVm.addNewPosition()">
        </td>
      </tr>
      <tr ng-repeat-start="position in positionsVm.positions | filter:positionsVm.activePosition" ng-repeat-end>
        <!--<td class="col-md-1 text-center" ng-bind="position.dateCreated">&nbsp;</td>-->
        <td class="col-md-2 text-center" ng-bind="position.contactName">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.type">&nbsp;</td>
        <td class="col-md-2 text-center" ng-bind="position.spec">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.grossPrice">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.total">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.status">&nbsp;</td>
        <td class="col-md-1 text-center" ng-bind="position.dateShipped">&nbsp;</td>
        <td class="col-md-2 text-center">
          <messages-button position="position"></messages-button>

          <a class="btn text-warning">
            <i class="fa fa-pencil"></i>
          </a>

          <a class="btn text-danger" ng-click="positionsVm.removePosition(position)">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

