<input type="text" id="address" ng-model="addressVm.asyncSelected" placeholder="Адрес объекта..." class="form-control"
       ng-model-options="{ debounce: { default: 500, blur: 100 } }"
       uib-typeahead="address.hint.text for address in addressVm.getLocation($viewValue)"
       typeahead-loading="loadingLocations"
       typeahead-no-results="noResults"
       typeahead-on-select="addressVm.onSelect($item, $model, $label)">
<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
<div ng-show="noResults">
  <i class="glyphicon glyphicon-remove"></i> No Results Found
</div>

<br>

<div id="map" style="width:500px; height:400px"></div>
